<mat-grid-list #gridlist [cols]="cols" rowHeight="2:1">
    <mat-grid-tile>
        <iframe title="Song1" src="https://www.youtube.com/embed/6fVE8kSM43I?si=oBHOwOfSFUd-mlNy"
        frameborder="0"></iframe>
        <br>
        {{ "Slipknot - Duality" | truncate: 18 }}
    </mat-grid-tile>
    <mat-grid-tile>
        <iframe title="Song2" src="https://www.youtube.com/embed/mAxOulZm_Zg?si=MT0yYNWIH8pjyI1q"
        frameborder="0"></iframe>
        <br>
        {{ "Blue Stahli - UltraNumb" | truncate: 18 }}
    </mat-grid-tile>
    <mat-grid-tile>
        <iframe title="Song3" src="https://www.youtube.com/embed/icjrD5WDNP0?si=TM_zYGyjbtgq-5O8"
        frameborder="0"></iframe>
        <br>
        {{ "RedHook - Kamikaze (ft. Will King - WindWaker)" | truncate: 18 }}
    </mat-grid-tile>
    <mat-grid-tile>
        <iframe title="Song4" src="https://www.youtube.com/embed/9KouqIUWbH4?si=6_1nqzJQDaWUhsKC"
        frameborder="0"></iframe>
        <br>
        {{ "STARSET - Brave New World" | truncate: 18 }}
    </mat-grid-tile>
  </mat-grid-list>
  