<app-menu  (selectedPage)="changePage($event)"></app-menu>
<ng-template [ngIf]="page === 'main'">
  <div>
    <app-main ></app-main>
  </div>
</ng-template>
  <ng-template [ngIf]="page === 'blog'">
    <app-blog> Blog style long form 'chat' interface</app-blog>
  </ng-template>
  <ng-template [ngIf]="page === 'sample-music'">
    <app-sample-music> Youtube link page </app-sample-music>
  </ng-template>
  <ng-template [ngIf]="page === 'register'">
    <app-register> Registration page </app-register>
  </ng-template>